n8n-workflows/terraform-drift-email.json
{
  "name": "Terraform Drift - Email Notifications",
  "nodes": [
    {
      "parameters": {
        "path": "drift-detected",
        "options": {}
      },
      "id": "email-webhook-drift",
      "name": "Drift Detected",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "path": "drift-status",
        "options": {}
      },
      "id": "email-webhook-status", 
      "name": "Status Update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "path": "drift-error",
        "options": {}
      },
      "id": "email-webhook-error",
      "name": "Error Alert", 
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "drift-condition",
              "leftValue": "={{ $json.event }}",
              "rightValue": "drift_detected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-event-type",
      "name": "Is Drift Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "authentication": "generic",
        "generic": {
          "username": "your-email@gmail.com",
          "password": "your-app-password"
        },
        "fromEmail": "terraform-alerts@yourcompany.com",
        "toEmail": "devops-team@yourcompany.com", 
        "subject": "🚨 URGENT: Terraform Drift Detected - {{ $json.hostname }}",
        "emailFormat": "html",
        "message": "<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;margin:20px}.alert-box{background-color:#fff2f2;border:2px solid #ff6b6b;padding:20px;border-radius:8px;margin:20px 0}.header{color:#d63031;font-size:24px;font-weight:bold}.details{background-color:#f8f9fa;padding:15px;border-radius:5px;margin:10px 0}.action-required{background-color:#fdcb6e;padding:10px;border-radius:5px;margin:15px 0;font-weight:bold}</style></head><body><div class=\"alert-box\"><div class=\"header\">🚨 Terraform Configuration Drift Detected</div><p><strong>Project:</strong> terraform-ghost</p><p><strong>Timestamp:</strong> {{ $json.timestamp }}</p><p><strong>Hostname:</strong> {{ $json.hostname }}</p><div class=\"details\"><h3>📊 Drift Summary:</h3><p>{{ $json.summary || $json.message }}</p><p><strong>Exit Code:</strong> {{ $json.exit_code }}</p><p><strong>Source:</strong> {{ $json.source }}</p></div><div class=\"action-required\">⚡ <strong>IMMEDIATE ACTION REQUIRED</strong><br>Please review the terraform configuration and apply necessary changes.</div><h3>🔧 Next Steps:</h3><ol><li>SSH to server: <code>ssh {{ $json.hostname }}</code></li><li>Navigate to project: <code>cd /path/to/terraform-ghost</code></li><li>Review changes: <code>terraform plan</code></li><li>Apply if needed: <code>terraform apply</code></li></ol><p><small>Generated by Terraform Drift Detection System.</small></p></div></body></html>",
        "options": {
          "smtpHost": "smtp.gmail.com",
          "smtpPort": 587,
          "smtpSecurity": "starttls"
        }
      },
      "id": "send-drift-email",
      "name": "Send Drift Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "authentication": "generic",
        "generic": {
          "username": "your-email@gmail.com",
          "password": "your-app-password"
        },
        "fromEmail": "terraform-status@yourcompany.com",
        "toEmail": "devops-team@yourcompany.com",
        "subject": "={{ $json.event === 'no_drift' ? '✅ Terraform Status: OK - ' + $json.hostname : '❌ Terraform Error - ' + $json.hostname }}",
        "emailFormat": "html", 
        "message": "={{ $json.event === 'no_drift' ? '<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;margin:20px}.ok-box{background-color:#f2fff2;border:2px solid#00b894;padding:20px;border-radius:8px;margin:20px 0}.header{color:#00b894;font-size:24px;font-weight:bold}.details{background-color:#f8f9fa;padding:15px;border-radius:5px;margin:10px 0}</style></head><body><div class=\"ok-box\"><div class=\"header\">✅ Terraform Status: All Good</div><p><strong>Project:</strong> terraform-ghost</p><p><strong>Timestamp:</strong> ' + $json.timestamp + '</p><p><strong>Hostname:</strong> ' + $json.hostname + '</p><div class=\"details\"><h3>📊 Status:</h3><p>' + $json.message + '</p><p><strong>Source:</strong> ' + $json.source + '</p></div><p><small>No action required. Infrastructure matches configuration.</small></p></div></body></html>' : '<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;margin:20px}.error-box{background-color:#fff2f2;border:2px solid#e17055;padding:20px;border-radius:8px;margin:20px 0}.header{color:#d63031;font-size:24px;font-weight:bold}.details{background-color:#f8f9fa;padding:15px;border-radius:5px;margin:10px 0}.urgent{background-color:#ff7675;color:white;padding:10px;border-radius:5px;margin:15px 0;font-weight:bold}</style></head><body><div class=\"error-box\"><div class=\"header\">❌ Terraform Error Occurred</div><p><strong>Project:</strong> terraform-ghost</p><p><strong>Timestamp:</strong> ' + $json.timestamp + '</p><p><strong>Hostname:</strong> ' + $json.hostname + '</p><div class=\"details\"><h3>🔴 Error Details:</h3><p>' + $json.message + '</p><p><strong>Error Info:</strong> ' + ($json.error_details || 'Check server logs for details') + '</p><p><strong>Source:</strong> ' + $json.source + '</p></div><div class=\"urgent\">🚨 CRITICAL: Terraform monitoring system error!</div><p><small>Please investigate immediately.</small></p></div></body></html>' }}",
        "options": {
          "smtpHost": "smtp.gmail.com",
          "smtpPort": 587,
          "smtpSecurity": "starttls"
        }
      },
      "id": "send-status-email",
      "name": "Send Status/Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "operation": "log",
        "message": "=Email sent for Terraform event: {{ $json.event }} at {{ $json.timestamp }}"
      },
      "id": "log-email-sent",
      "name": "Log Email Sent",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Drift Detected": {
      "main": [
        [
          {
            "node": "Is Drift Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Update": {
      "main": [
        [
          {
            "node": "Send Status/Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Alert": {
      "main": [
        [
          {
            "node": "Send Status/Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Drift Event?": {
      "main": [
        [
          {
            "node": "Send Drift Alert Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Status/Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Drift Alert Email": {
      "main": [
        [
          {
            "node": "Log Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Status/Error Email": {
      "main": [
        [
          {
            "node": "Log Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3",
  "id": "3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}